.container {
    margin: 0 auto;
    width: 1280px;
}

.sectionPhonebook {
    margin-bottom: 50px;
}

.sectionSubHeader{
    margin: 0;
}

.formPhonebook {
    border: 1px solid black;
    padding: 20px;
    width: 320px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}